* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030C;
  ---fonte-principal: 'Inter';
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(var(---fonte-principal));
  font-size: 16px;
  font-weight: 400;
}


.principal {
  background-image: url(/assets/images/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__caixa {
  margin: 0 6em;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__botao {
  color: var(--branco-principal);
  border-radius: 5px;
  padding: 1em;
  display: block;
  margin-bottom: 1em;
}
.primeiro__botao {
  background-color: var(--botao-azul);
  transition: 0.3s;
}

.primeiro__botao:hover {
  background-color: #065ac0;
}

.botao_secundario {
  border: 2px solid var(--branco-principal);
  transition: 0.3s;
}

.botao_secundario:hover {
  border-color: #065ac0;
}

.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

/* ------------ SEGUNDA SEÇÃO ----------- */

  .secundario__imagem {
    width: 80%;
  }

  .secundario {
    align-items: center;
    margin: 0 10em;
  }

  .descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
  }

  .descricao__texto{
    color: var(--cinza-secundario);
  }

  /* ------------ TERCEIRA SEÇÃO --------- */

  .secundario__botao {
    background-color: var(--botao-azul);
    display: inline-block;
    margin-top: 1em;
    transition: 0.3s;
  }

  .secundario__botao:hover {
    background-color: #065ac0;
  }

  .container__descricao {
    padding: 2em;
  }

  /* ------------ DISPOSITIVO FAVORITO --------- */

  .dispositivos {
    text-align: center;
  }

  .dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 5em 0;
  }

  .dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
  }

  .lista__item {
    font-size: 32px;
    color: var(--branco-principal);
  }

  /* ------------ FOOTER --------- */

  .rodape {
    text-align: center;
  }

 .rodape__lista {
  display: flex;
  justify-content: center;
  padding: 3px;
 }

 .lista__link {
  margin: 1em;
  font-size: 16px;
 }

 .lista__link a {
  color: var(--branco-principal);
  transition: 0.2s;
 }

 .lista__link a:hover {
  color: var(--botao-azul);
 }

 .rodape__texto {
  font-size: 12px;
  color: var(--cinza-secundario);
  margin-bottom: 1em;
 }

 /* ---------- MOBILE --------*/

 @media screen and (max-width: 768px) {
  .container {
    display: block;
    background-image: none;
  }

  .container__imagem {
    width: 50vw;
  }

  .container__caixa {
    margin: 2em 2em;
  }

  .secundario {
    margin: 0;
    text-align: center;
  }

  .secundario__imagem {
    width: 50vw;
  }

  .dispositivos__lista {
    flex-direction: column;
  }

  .rodape__lista {
    display: block;
  }

  .rodape__texto {
    display: block;
  }
 }