* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030C;
}

body {
  background-color: var(--cor-de-fundo);
}

h1 {
  color: var(--branco-principal)
}

.principal {
  background-image: url(/assets/img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
}